.island-body {
  width: 100%;
  background: rgb(0, 0, 0);
  color: white;
  overflow: visible;
  box-sizing: border-box;
  border-radius: 0 0 20px 20px;
  padding-top: 30px;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: rgba(227, 227, 227, 0.2);
}
.pulse {
  // background: rgb(231, 231, 231);
  border: 2px solid rgb(231, 231, 231);
  border-radius: 50%;
  height: 60px;
  width: 60px;
  box-shadow: 0 0 0 0 rgba(231, 231, 231, 1);
  transform: scale(1);
  animation: pulse 2s infinite;
  position: relative;
  margin-right: 30px;
  margin-left: 30px;
}
.assistant-name {
  position: absolute;
  left: 50px;

  font-size: 18px;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(231, 231, 231, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 15px rgba(231, 231, 231, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(231, 231, 231, 0);
  }
}

// audio waves
section {
  display: flex;
  gap: 15px;
  // margin-top: 5vw;
}
[class*='wave'] {
  aspect-ratio: 0.125/1;
  animation: waveform var(--wavefreq) ease-in-out infinite forwards;
  background-color: white;
  border-radius: 15px;
  width: 3px;
  transform: scaleY(var(--wave-scale, 0.5));
  transition: transform 0.1s ease-out;
}

@keyframes waveform {
  0% {
    transform: scaleY(calc(0.5 * var(--wave-scale, 1)));
  }
  50% {
    transform: scaleY(calc(1.5 * var(--wave-scale, 1)));
  }
  100% {
    transform: scaleY(calc(0.5 * var(--wave-scale, 1)));
  }
}
:root {
  --m: 17.5;
  --wavefreq: calc(100ms * var(--m));
}

.wave1 {
  --wavefreq: calc(200ms * var(--m));
}

.wave2 {
  --wavefreq: calc(300ms * var(--m));
}

.wave3 {
  --wavefreq: calc(400ms * var(--m));
}

.wave4 {
  --wavefreq: calc(500ms * var(--m));
}

.wave5 {
  --wavefreq: calc(600ms * var(--m));
}

.wave6 {
  --wavefreq: calc(700ms * var(--m));
}
.loader {
  width: 60px;
  height: 60px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin-right: 10px;
  margin-left: 30px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.model-response {
  font-size: 15px;
  margin: 15px 20px;
  overflow: auto;
  // width: 100%;
  height: 50px;
}
