.island-body {
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
  box-sizing: border-box;
  border-radius: 0 0 20px 20px;
  // transition: ease-in-out 1s cubic-bezier(0.3, 1.4, 0.6, 1);
}
