body {
  background: transparent !important;

  height: 220px;

  font-family: Roboto, 'Helvetica Neue', sans-serif;

  outline: none !important;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0;
  border-radius: 10px;
}
