body {
  background: transparent !important;

  height: 180px;

  font-family: Roboto, 'Helvetica Neue', sans-serif;

  outline: none !important;
  // transition: all 1s cubic-bezier(0, 0.95, 1, 0.3);
  margin: 0;
  border-radius: 10px;
}
